<div class="gallery">
  <div class="row">
    <div class="col-xs-12">
      <button
        ng-model="tmpFiles"
        ngf-select="onChoose($files)"
        ngf-accept="'image/*'"
        ngf-multiple="'true'"
        ngf-keep="'distinct'"
        class="btn btn-primary">
        <span class="fa fa-folder-open"></span> Escolher arquivos
      </button>
      <button
        ng-click="uploadAll()"
        ng-show="tmpFiles.length > 0"
        class="btn btn-success">
        <span class="fa fa-upload"></span> Enviar todos
      </button>
      <div
        id="area-droppable"
        ngf-select="onChoose($files)"
        ngf-drop="onChoose($files)"
        ngf-drag-over-class="'hover'"
        ng-model="tmpFiles"
        ngf-accept="'image/*'"
        ngf-multiple="true"
        ngf-keep="'distinct'"
        class="gallery-drop-area">
          <span class="gallery-drop-info">{{ ( dropAreaText || "Solte os arquivos aqui" ) }}</span>
        </div>
      <div
        ng-show="zoomIn"
        class="row m-t">
        <div class="col-xs-12">
          <div class="gallery-zoom-area">
            <a
              class="gallery-zoom-close"
              ng-click="zoomClose()">
              <span class="fa fa-close"></span>
            </a>
            <img src="{{ zoomIn }}" alt="" class="img-responsive" style="max-width: 100%">
          </div>
        </div>
      </div>
      <div class="row">
        <div ng-if="images.length > 0">
          <div
            ng-repeat="f in images track by $index"
            class="col-xs-12 col-md-3 m-t">
            <div class="card gallery-item">
              <div class="text-xs-center">
                <a
                  ng-click="zoom(f.url)"
                  class="gallery-zoom">
                  <img src="{{ f.url }}" alt="Card image" class="gallery-image">
                </a>
              </div>
              <div class="card-block gallery-item-actions">
                <button
                  ng-click="removeFile(f)"
                  class="btn btn-danger btn-sm btn-block">
                  <span class="fa fa-ban"></span> Remover
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          ng-repeat="f in tmpFiles track by $index"
          class="col-xs-12 col-md-3 m-t">
          <div class="card gallery-item">
            <div class="text-xs-center">
              <img ngf-src="f" alt="Card image" class="gallery-image">
            </div>
            <div class="col-xs-12 m-t">
              <progress
                ng-show="f.progress"
                value="{{ f.progress }}"
                max="100"
                class="progress progress-success">
                <span class="progress-text">{{ f.progress }}%</span>
              </progress>
            </div>
            <div class="card-block gallery-item-actions">
              <button
                ng-click="uploadFile(f)"
                ng-show="!f.progress"
                class="btn btn-primary btn-sm btn-block">
                <span class="fa fa-upload"></span> Upload
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
