<div class="view">
  <header class="view-header">
    <h2 class="view-title">Upload de imagem</h2>
  </header>
  <section class="view-body">
    <div class="p4nel">
      <h3 class="p4nel-header">
        <span class="p4nel-title">Testes</span>
      </h3>
    </div>
    <div class="p4nel-body">
      <div class="row">
        <div class="col-xs-12">
          <button
          ngf-select="sigleUpload($files)"
          accept="image/*" ngf-max-height="1000" ngf-max-size="20MB">
              Select Files</button>
          <br><br>
          Files:
          <ul>
          <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
            <img ngf-src="f" alt="">
            <!-- <span class="progress" ng-show="f.progress >= 0">
              <div style="width:{{f.progress}}%"
                  ng-bind="f.progress + '%'"></div>
            </span> -->
          </li>
          <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
          </li>
        </ul>
        {{errorMsg}}
        </div>
      </div>
    </div>
  </section>
</div>
